<div class="container-fluid">
    <mat-card>
      <h4>Slugs list</h4>

      <table class="sortable" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ID 
          </th>
          <td mat-cell *matCellDef="let slug"> {{slug.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            NAME 
          </th>
          <td mat-cell *matCellDef="let slug">
            {{slug.attributes.Name?.length > 35 ? (slug.attributes.Name | slice:0:30 ) + '...': slug.attributes.Name }} </td>
        </ng-container>


        <ng-container matColumnDef="wilaya">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            WILAYA 
          </th>
          <td mat-cell *matCellDef="let slug">
            {{ getWilayaName(slug?.attributes.Wilaya) }} </td>
        </ng-container>


        
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            COMMUNE 
          </th>
          <td mat-cell *matCellDef="let slug">
            {{getCommuneName(slug?.attributes.City) }} </td>
        </ng-container>


              
        <ng-container matColumnDef="subscription_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            SUB TYPE 
          </th>
          <td mat-cell *matCellDef="let slug">
            {{getSubType(slug.attributes.SubscriptionType) }} </td>
        </ng-container>


                    
        <ng-container matColumnDef="subscription_end">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            SUB END 
          </th>
          <td mat-cell *matCellDef="let slug">
            {{slug.attributes.SubscriptionEnd | date }} {{" "}}
          
            <h4 *ngIf="slug.attributes.SubscriptionEnd"  style="margin-top: 8px;" [style.color]="getValue(slug.attributes.SubscriptionEnd) > 20 ? 'green': (getValue(slug.attributes.SubscriptionEnd) > 10 && getValue(slug.attributes.SubscriptionEnd) < 20) ? '#b69329': 'red'"> {{getValue(slug.attributes.SubscriptionEnd)}}{{" "}}Days Left</h4>

          
          
          </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th class="fixWidth" mat-header-cell *matHeaderCellDef>
            ACTIONS 
          </th>
          
          <td class="fixWidth" mat-cell *matCellDef="let slug;">
            <button mat-icon-button mat-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"><i
                class="material-icons">
                more_vert
              </i></button>
            <mat-menu #menu="matMenu">
 
              <button mat-menu-item (click)="openDialogForConfirmation(confirmation)">
                <mat-icon color='warn' aria-label="Delete slug"
                  matTooltip="Delete slug">delete</mat-icon>
                Delete slug
              </button>

             <button mat-menu-item (click)="EditSlug(slug)">
                <mat-icon color='primary' aria-label="Delete slug"
                  matTooltip="Delete slug">edit</mat-icon>
                Edit slug
              </button>
              
            </mat-menu>
  
            <!-- Dialog confirmation template -->
            <ng-template #confirmation>
              <h2 matDialogTitle>Confirmation !</h2>
              <mat-dialog-content>
                <!-- <p>{{'documents.removeConfirmation'  | translate | capitalize }}</p> -->
                <p>Are you sure to delete this slug ?</p> 
              </mat-dialog-content>
              <mat-dialog-actions align="center">
                <button mat-button matDialogClose color="warn"
                (click)="deleteSlug(slug)">Remove</button>
                <button mat-button matDialogClose color="primary"
                  cdkFocusInitial>No</button>
              </mat-dialog-actions>
            </ng-template>
            <!-- Dialog confirmation template -->
          </td>
        </ng-container>





        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
        <tr mat-row *matRowDef="let slug; columns: displayedColumns;" (click)="viewSlug(slug)"></tr>
      </table>
  
      <mat-paginator *ngIf="elementsLength" (page)="getUpdate($event)" [length]="elementsLength" [pageSize]="pageSize">
      </mat-paginator>
      <br>


      <div class="example-container mat-elevation-z8">
        <!-- <div class="example-loading-shade"
             *ngIf="isLoadingResults || isRateLimitReached">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
            GitHub's API rate limit has been reached. It will be reset in one minute.
          </div>
        </div> -->
      
        <div class="example-table-container">
      
          <table mat-table [dataSource]="dataSource" class="example-table"
                 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
            <!-- Number Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let row">{{row.Id}}</td>
            </ng-container>
      
            <!-- Title Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let row">{{row.attributes.Name}}</td>
            </ng-container>
      
      
            <tr mat-header-row *matHeaderRowDef="displayedColumnst"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnst;"></tr>
          </table>
        </div>
      
        <mat-paginator [length]="elementsLength" [pageSize]="10" aria-label="Select page of GitHub search results"></mat-paginator>
      </div>




    </mat-card>
  
  </div>

