table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    margin-top:20px; 
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

.sortable tr {
    cursor: pointer;
}

img {
    margin-top: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

