<div class="container-fluid">
    <mat-card>
      <h4>Users list</h4>

    
      <table class="sortable" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>ID </h6>
          </th>
          <td mat-cell *matCellDef="let user"> {{user.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>NAME </h6>
          </th>
          <td mat-cell *matCellDef="let user">
            {{user.name?.length > 35 ? (user.name | slice:0:30 ) + '...': user.name }} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6> EMAIL</h6>
          </th>
          <td mat-cell *matCellDef="let user" >
            {{user.email ? ((user.email.length > 35 )? (user.email | slice:0:30 ) + '...': user.email) : '' }}
          </td>
        </ng-container>
  
  
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6> CREATED AT </h6>
          </th>
          <td mat-cell *matCellDef="let user"> {{user.created_at | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="slug_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <h6> SLUG ID </h6>
            </th>
            <td mat-cell *matCellDef="let user"> {{user.slug_id}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
        <tr mat-row *matRowDef="let user; columns: displayedColumns;" (click)="viewUser(user)"></tr>
      </table>
  
      <mat-paginator *ngIf="elementsLength" (page)="getUpdate($event)" [length]="elementsLength" [pageSize]="pageSize">
      </mat-paginator>
      <br>
      <!-- <button [routerLink]='userFormRoute' mat-stroked-button color="primary"><mat-icon class="fix">add</mat-icon>{{'general.new' | translate | capitalize }}</button> -->
      <button mat-stroked-button (click)="goToUser()" color="primary">
        <mat-icon>add</mat-icon>New user
      </button>
  
  
  
  
    </mat-card>
  
  </div>