<div class="container">
  <div class="row" >
    <div class="col-12 text-center">
    <h5 *ngIf="data"> <span class="name-text">
        Edit slug</span></h5>
        </div>
        </div>
  
    <form [formGroup]="slugFormGroup" (submit)="updateSlug($event)" class="form">

        <div class="row" >
     <div class="col-12">
        <mat-form-field >
          <input matInput placeholder="name" required formControlName="name"
            #focus>
          <mat-error *ngIf="!name.valid || name.touched">Name<strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
  

     <div class="col-12">
      <ng-select [items]="wilayas" bindLabel="name" bindValue="code" 
      (change)="selectWilaya($event)" formControlName="wilaya">
  </ng-select>



    <!-- <mat-error *ngIf="slugFormGroup.get('wilaya').errors?.required">wilaya <strong>required</strong> </mat-error> -->

     </div>

<div class="col-12">
  
  <ng-select  [items]="communesSelected"  bindLabel="name" bindValue="id"
  (change)="selectCommune($event)" formControlName="city">
</ng-select>
  <!-- <mat-error *ngIf="slugFormGroup.get('commune').errors?.required">City <strong>required</strong> </mat-error> -->
     </div>

 

   

     

      <div class="col-12">
       <mat-form-field >
          <mat-select placeholder="Subscription end"
            formControlName="subscription_type">
            <mat-option value="1">
              Free Trailer
            </mat-option>
            <mat-option value="2">
             Silver
            </mat-option>
            <mat-option value="3">
             Gold
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> 

      

      <div class="col-12">
    <mat-form-field>
    <input matInput required readonly [matDatepicker]="picker" formControlName="subscription_end" 
    placeholder="subscription_end">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

</div>
  
  <br><br><br>
     
      <div class="row">
      <div class="col-12 text-center">
          <button mat-raised-button color="primary" type="submit"  class="button">Submit</button> {{" "}}
          <button  mat-dialog-close mat-raised-button color="warn" class="button">Cancel</button>
      </div>
      </div>
    </form>
  
  </div>